<include file="Layout@Index:header" />
<include file="Layout@Index:nav" />
  <!-- Left side column. contains the logo and sidebar -->
  <style>
  /*.privileges>h4{
    font-weight: bold;
  }*/
  .privileges>label{
    width:100px;
    text-align: right;
    /*border-bottom: 1px dashed #888;*/
  }
  </style>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        部门添加
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 后台</a></li>
        <li><a href="{:U('Admin/Roles/index')}">部门管理</a></li>
        <li class="active">添加部门</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">部门添加</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="box box-warning">

            <!-- /.box-header -->
            <div class="box-body">
              <form role="form" id="addUser" method="post" action="{:U('Admin/Roles/doAddRole')}">
                <!-- text input -->
                <div class="form-group">
                  <label>部门名称</label>
                  <input type="text" id="loginName" name="loginName" class="form-control" placeholder="部门名称">
                </div>
                <div class="form-group">
                  <label>部门描述</label>
                  <textarea class="form-control" placeholder="部门描述"></textarea>
                </div>
                <div class="form-group">
                  <label>部门权限</label>
                  <div class="privileges">
                       <h4>资讯公告管理<input type="checkbox" name=""></h4>
                       <volist name="infoone" id="vo">
                       <label>{$vo.privilegename}</label><input type="checkbox" name="">
                       </volist>
                       <h4>系统品牌档期管理<input type="checkbox" name=""></h4>
                       <volist name="infotwo" id="vt">
                       <label>{$vt.privilegename}</label><input type="checkbox" name="">
                       </volist>
                       <h4>系统广告管理<input type="checkbox" name=""></h4>
                       <volist name="infothree" id="vth">
                       <label>{$vth.privilegename}</label><input type="checkbox" name="">
                       </volist>
                       <h4>品牌产品管理<input type="checkbox" name=""></h4>
                       <volist name="infofour" id="vt">
                       <label>{$vt.privilegename}</label><input type="checkbox" name="">
                       </volist>
                       <h4>公司职员管理<input type="checkbox" name=""></h4>
                       <volist name="infofive" id="vt">
                       <label>{$vt.privilegename}</label><input type="checkbox" name="">
                       </volist>
                       <h4>供货商会员管理<input type="checkbox" name=""></h4>
                       <volist name="infosix" id="vt">
                       <label>{$vt.privilegename}</label><input type="checkbox" name="">
                       </volist>
                        <h4>微商信息管理<input type="checkbox" name=""></h4>
                       <volist name="infoseven" id="vt">
                       <label>{$vt.privilegename}</label><input type="checkbox" name="">
                       </volist>
                        <h4>订单管理<input type="checkbox" name=""></h4>
                       <volist name="infoeight" id="vt">
                       <label>{$vt.privilegename}</label><input type="checkbox" name="">
                       </volist>
                        <h4>优惠券管理<input type="checkbox" name=""></h4>
                       <volist name="infonine" id="vt">
                       <label>{$vt.privilegename}</label><input type="checkbox" name="">
                       </volist>
                        <h4>快递管理<input type="checkbox" name=""></h4>
                       <volist name="infoten" id="vt">
                       <label>{$vt.privilegename}</label><input type="checkbox" name="">
                       </volist>
                       </volist>
                        <h4>短信消息管理<input type="checkbox" name=""></h4>
                       <volist name="infotwf" id="vt">
                       <label>{$vt.privilegename}</label><input type="checkbox" name="">
                       </volist>
                       </volist>
                        <h4>系统日志管理<input type="checkbox" name=""></h4>
                       <volist name="infothr" id="vt">
                       <label>{$vt.privilegename}</label><input type="checkbox" name="">
                       </volist>
                  </div>
                </div>
                <input type="hidden" name="createstaffid" value="{$data.stffid}"/>
              </form>
                <div class="form-group">
                    <button id="addUserOperate" class="btn bg-olive btn-flat margin"><i class="fa fa-fw fa-plus"></i>添加</button>
                </div>
            </div>
            <!-- /.box-body -->
          </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <include file="Layout@Index:footer"/>
  <!-- 全局js -->
  <script src="{$Think.const.PUBLIC_URL}/common/js/jquery.min.js?v=2.1.4"></script>
  <script src="{$Think.const.PUBLIC_URL}/common/js/bootstrap.min.js?v=3.3.6"></script>
  <script src="{$Think.const.PUBLIC_URL}/common/js/ajaxfileupload.js"></script>
 <script>
    var addUserOperate = document.getElementById("addUserOperate");
    addUserOperate.onclick=function()
    {     
          var loginNameVal = document.getElementById("loginName").value;
          var loginPwdVal = document.getElementById("loginPwd").value;
          var staffNameVal = document.getElementById("staffName").value;
          var staffNoVal = document.getElementById("staffNo").value;
          if(loginNameVal != '')
          {
               if(loginPwdVal != '')
                {
                       document.getElementById("addUser").submit();
                }else
                {
                    alert('请输入密码');
                    return;
                }
              
          }
          else
          {
              alert('请输入账号昵称');
              return;
          }
      }
  </script>
  <script>
      function readyup()
    {
            ajaxFileUpload();
    }
    function ajaxFileUpload() {
            $.ajaxFileUpload
            (
                    {
                        url: "{:U('Upload/Index/upload')}",
                        secureuri: false,
                        fileElementId: 'file',
                        dataType: 'json',
                        success: function (data, status)
                        {
                           var code = data['code'];
                           if(code == '000002')
                           {
                               $("#img1").attr("src", data.showimgurl);
                               $(":input[name=staffPhoto]").val(data.imgurl);
                           }
                        },
                        error: function (data, status, e)
                        {
                          alert(data.msg);
                        }
                    }
            )
            return false;
        }
  </script>