  <include file="Layout@Index:header" />
  <include file="Layout@Index:nav" />
    <script type="text/javascript" src="{$Think.const.ROOT_URL}/Public/backend/plugins/datetimer/js/calendar.js"></script>
    <link rel="stylesheet" type="text/css" href="{$Think.const.ROOT_URL}/Public/backend/plugins/datetimer/css/calendar.css" media="all" />
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        设置VIP等级
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 后台</a></li>
        <li><a href="{:U('Users/Index/index')}">设置VIP等级</a></li>
        <li class="active">设置VIP</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">VIP设置</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="box box-warning">
            <!-- /.box-header -->
            <div class="box-body">
              <form role="form" id="setVip" method="post" action="{:U('Users/Index/setvip')}">
              <div class="form-group">
                <label>有效期结束时间:</label>
                <div class="input-group date" style="position: relative;">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input readonly="readonly" name="enddate" id="test1" value="" class="txt" style="width:400px;border-color:1px solid #d2d6de" type="text">
                  <br />
                <input style="opacity: 0;position: absolute;top:0px;width: 400px" class="button" type="button" id="selbtn1" name="selbtn1" value="时间" onclick="showCalendar('test1', '%Y-%m-%d %H:%M', '24', false, 'selbtn1');" />
                  <!-- <input type="text" name="enddate" class="form-control pull-right" id="datepickerend"> -->
                </div>
              </div>
                
                <div class="form-group">
                  <label>vip等级</label>
                  <select multiple="" name="level" class="form-control">
                           <option value="1" selected>vip1</option>
                           <option value="2">vip2</option>
                           <option value="3">vip3</option>
                           <option value="4">vip4</option>
                  </select>
                </div>
              <input type="hidden" name="userid" value='{$userid}'/>
<!--              <input type="hidden" name="createstaffid" value='{$data.stffid}'/>-->
              </form>
                <div class="form-group">
                    <button id="setVipOperate" class="btn bg-olive btn-flat margin"><i class="fa fa-fw fa-plus"></i>设置VIP</button>
                </div>
            </div>
            <!-- /.box-body -->
          </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <include file="Layout@Index:footer"/>
  <!-- 全局js -->
  <!-- <script src="{$Think.const.PUBLIC_URL}/common/js/jquery.min.js?v=2.1.4"></script> -->
  <script src="{$Think.const.PUBLIC_URL}/common/js/bootstrap.min.js?v=3.3.6"></script>
  <script src="{$Think.const.PUBLIC_URL}/common/js/ajaxfileupload.js"></script>
 <script>
    var setVipOperate = document.getElementById("setVipOperate");
    setVipOperate.onclick=function()
    {     
          document.getElementById("setVip").submit();
    }
  </script>
<script>
  $(function () {
    $('#datepickerstart').datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true
    });
    $('#datepickerend').datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true
    });
  })
</script>