<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>商品管理</title>
  <link href="__CSS__/WdatePicker.css" rel="stylesheet">
  <link href="__CSS__/style.css" rel="stylesheet">
  <!-- 每行tr背景颜色 -->
  <script type="text/javascript" src="__JS__/jquery.js"></script>
</head>
<body>
  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="__CONTROLLER__/index">运费模板管理</a></li>
    <li><a href="">运费模板详情</a></li>
    </ul>
  </div>
  <div class="formbody">
    <div class="formtitle">
      <span>运费模板列表：</span>
    </div>
    <div class="padding border_bottom mbottom">
    </div>

    <table class="parkManageTab detailTab">
      <thead>
        <tr style="border:none">
          <th style="border-right:none;text-align:left;color:blue" colspan=3 >模板名称：{$template_row.template_name}</th>
          <th style="border-right:none;border-left:none" colspan=2>添加时间：<php>echo date('Y-m-d',$template_row[create_date]);</php></th>
          <th style="border-left:none"><a style="color:#0893E6" href="U('delete',array('template_id'=>$template_row[template_id]))">删除</a></th>
        </tr>
        <tr>
          <th>运送方式</th>
          <th>运送到</th>
          <th><eq name="template_row.price_way" value="1">首件(个)</eq>
            <eq name="template_row.price_way" value="2">首重(kg)</eq>
            <eq name="template_row.price_way" value="3">首体积(m³)</eq>
          </th>
          <th>首费(元)</th>
          <th><eq name="template_row.price_way" value="1">续件(个)</eq>
            <eq name="template_row.price_way" value="2">续重(kg)</eq>
            <eq name="template_row.price_way" value="3">续体积(m³)</eq>
          </th>
          <th>续费(元)</th>
        </tr>
      </thead>
      <tbody>
        <volist id="way" name="way_list" empty="暂时没有数据">
          <tr>
            <td>
              <eq name="way.shipping_way" value="0">快递</eq>
              <eq name="way.shipping_way" value="1">EMS</eq>
              <eq name="way.shipping_way" value="2">平邮</eq>
            </td>
            <td>{$way.area_name}</td>
            <td>{$way.first_num}</td>
            <td>{$way.first_fee}</td>
            <td>{$way.continue_num}</td>
            <td>{$way.continue_fee}</td>
          </tr>
        </volist>
      </tbody>
    </table>
  </div>
  <script type="text/javascript" src="__DATEP__/WdatePicker.js"></script>
</body>
</html>
